.vscode
*.avi
*.foam
*.eMesh
*log.*

*_domain*/constant/polyMesh/*
*_domain*/constant/extendedFeatureEdgeMesh/*
*_domain*/processor*
*_domain*/0*

# !0.org/*
# !*_domain*/constant/*
# !*_domain*/system/*
# !*.m4
# !Allrun
# !Allclean

*_domain*/system/blockMeshDict